@import '/_components.scss';
@import '/_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Sansita:400,700i,800i');
:root {
    font-family: 'Sansita', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #231f42;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    #app {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #ffffff;
        background-color: #231f42;
        height: inherit;
        width: inherit;
    }
    #nav {
        padding: 30px;
        a {
            font-weight: bold;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            &.router-link-exact-active {
                color: rgb(108, 238, 255);
            }
        }
        a:hover {
            color: #F56B9A;
        }
    }
}